// utils/_responsive.scss
@use 'variables-module' as v;
@use 'mixins' as m;

// Utility classes for responsive design
.hide-sm {
    @include m.respond-to(sm) {
        display: none !important;
    }
}

.hide-md {
    @include m.respond-to(md) {
        display: none !important;
    }
}

.hide-lg {
    @include m.respond-to(lg) {
        display: none !important;
    }
}

.show-sm {
    display: none !important;
    @include m.respond-to(sm) {
        display: block !important;
    }
}

.show-md {
    display: none !important;
    @include m.respond-to(md) {
        display: block !important;
    }
}

.show-lg {
    display: none !important;
    @include m.respond-to(lg) {
        display: block !important;
    }
}

// Responsive text alignments
@each $breakpoint in (sm, md, lg, xl) {
    @include m.respond-to($breakpoint) {
        .text-#{$breakpoint}-left { text-align: left !important; }
        .text-#{$breakpoint}-center { text-align: center !important; }
        .text-#{$breakpoint}-right { text-align: right !important; }
    }
}

// Responsive margins and paddings
@each $breakpoint in (sm, md, lg, xl) {
    @include m.respond-to($breakpoint) {
        @for $i from 0 through 5 {
            .m-#{$breakpoint}-#{$i} { margin: v.$spacing-unit * $i !important; }
            .mt-#{$breakpoint}-#{$i} { margin-top: v.$spacing-unit * $i !important; }
            .mb-#{$breakpoint}-#{$i} { margin-bottom: v.$spacing-unit * $i !important; }
            .ml-#{$breakpoint}-#{$i} { margin-left: v.$spacing-unit * $i !important; }
            .mr-#{$breakpoint}-#{$i} { margin-right: v.$spacing-unit * $i !important; }
            
            .p-#{$breakpoint}-#{$i} { padding: v.$spacing-unit * $i !important; }
            .pt-#{$breakpoint}-#{$i} { padding-top: v.$spacing-unit * $i !important; }
            .pb-#{$breakpoint}-#{$i} { padding-bottom: v.$spacing-unit * $i !important; }
            .pl-#{$breakpoint}-#{$i} { padding-left: v.$spacing-unit * $i !important; }
            .pr-#{$breakpoint}-#{$i} { padding-right: v.$spacing-unit * $i !important; }
        }
    }
}