// _home.scss

.home {
  padding: 2em;
  text-align: center;

  h2 {
      margin-bottom: 1em;
  }

  .course-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .course {
          background-color: $light-background;
          border: 1px solid $primary-color;
          border-radius: 5px;
          margin: 1em;
          padding: 1em;
          width: 300px;
          transition: transform 0.3s, box-shadow 0.3s;

          &:hover {
              transform: scale(1.05);
              box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
          }

          h3 {
              color: $primary-color;
              margin-bottom: 0.5em;
          }

          p {
              font-size: $small-font-size;
              margin-bottom: 1em;
          }

          button {
              background-color: $secondary-color;
              color: white;
              border: none;
              padding: $button-padding;
              cursor: pointer;
              transition: background-color 0.3s;

              &:hover {
                  background-color: $accent-color;
              }
          }
      }
  }
}