@use '../utils/variables'; // Importando o arquivo de variáveis

footer {
    text-align: center;
    padding: 1rem;
    background-color: variables.$secondary-color; // Usando a variável com o namespace
    color: white;
}