@use '../utils/variables' as *; // Usando as variáveis diretamente
@use '../utils/mixins';

// Estilo do header
header {
    background-color: variables.$primary-color; // Usando a variável com o namespace
    color: white;
    padding: 1rem;

    nav ul {
        list-style: none;
        @include mixins.flex-center; // Usando o mixin com o namespace

        li {
            margin: 0 1rem;
        }
    }
}