@use '../utils/variables' as *; // Usando as variáveis diretamente
@use '../utils/mixins'; // Importando mixins

header {
    background-color: $primary-color; // Usando a variável diretamente
    color: white;
    padding: 1rem;

    nav ul {
        list-style: none;
        @include mixins.flex-center; // Usando o mixin corretamente

        li {
            margin: 0 1rem;
        }
    }
}