// _variables.scss

// Cores
$primary-color: #3498db; // Azul
$secondary-color: #2ecc71; // Verde
$accent-color: #e74c3c; // Vermelho
$text-color: #333; // Cor do texto
$background-color: #f4f4f4; // Cor de fundo
$light-background: #ffffff; // Fundo claro para cartões

// Fontes
$font-stack: 'Arial', sans-serif;
$heading-font: 'Helvetica Neue', sans-serif;

// Tamanhos
$base-font-size: 16px;
$heading-font-size: 24px;
$small-font-size: 14px;
$button-padding: 0.5em 1em;